.empty-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin-bottom: 3rem;
  font-family: Lekton, serif;
  margin-top: 100px;
  cursor: none;
  & button {
    cursor: default;
    align-self: center;
    background: transparent;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: all .5s ease;
    color: #8a8a8a;
    font-size: 2rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    /*
    Above is shorthand for:
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
    */
    &:hover {
      box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
    }
    &.lined.thick {
      border: solid 7px #41403E;
    }
    &.dotted.thick {
      border: dotted 5px #41403E;
    }
    &.dashed.thick {
      border: dashed 5px #41403E;
    }
    &.lined.thin {
      border: solid 2px #8a8a8a;
    }
    &.dotted.thin {
      border: dotted 2px #8a8a8a;
    }
    &.dashed.thin {
      border: dashed 2px #8a8a8a;
    }
  }
}

.pointer-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  & img {
    height: 80px;
  }
}

@media (max-width: 620px) {
  body {
    h1 {
      margin-top: 10px;
    }
    & section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 5px;
      & button {
        align-self: center;
        margin-bottom: 10px;
      }
    }
  }
}

.refresh-button {
  display: flex;
  justify-content: center;
  & img {
    height: 45px;
    opacity: .9;
    cursor: pointer;
    &:hover {
      -webkit-animation-name: spinnerRotate;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: spinnerRotate;
      -moz-animation-duration: 2s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -ms-animation-name: spinnerRotate;
      -ms-animation-duration: 2s;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: linear;
    }
  }
}

.icon-button-in-table {
  padding: 5px;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.custom-table {
  & thead {
    & tr {
      & th {
        padding: 10px;
      }
    }
  }
  & tbody {

      & td {
        padding: 5px;
        text-align: center;
      }

      & tr:hover {
        background-color: #d1d1d1;
      }

  }

}
