.header-nn-details {
  padding: 0 15px 15px 15px; }
  .header-nn-details tr td:first-child {
    width: 200px; }
  .header-nn-details tr td:last-child {
    width: 200px; }

.table-details {
  padding: 0 15px 15px 15px; }

.table-filter {
  padding: 5px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  background-color: #3e3b3b;
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px; }
  .table-filter input {
    margin: 0 0 0 20px; }

.radio-buttons {
  display: inline; }
  .radio-buttons .header-label-radio {
    display: inline; }

.clickable {
  cursor: pointer; }

.table-filter-container {
  padding: 0 15px 0 15px;
  overflow: hidden; }
  .table-filter-container ul {
    display: flex;
    padding: 0 0 0 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    background-color: #3e3b3b;
    background-image: -webkit-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
    background-image: -moz-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
    background-image: -o-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
    background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
    -webkit-background-size: 4px 4px;
    -moz-background-size: 4px 4px;
    background-size: 4px 4px; }
    .table-filter-container ul li {
      margin: 0 20px 0 0;
      color: #fdfdfd; }
      .table-filter-container ul li span {
        cursor: pointer;
        padding: 18px;
        font-family: Lekton;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        margin: 0 0;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .1em;
        text-decoration: none; }
        .table-filter-container ul li span:hover {
          box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.1), inset 0 0 4px 0px rgba(255, 255, 255, 0.6);
          background: #ffffff;
          color: #777; }
      .table-filter-container ul li img {
        height: 35px;
        margin: 0 5px 0 0; }

.table-filter-models {
  padding: 5px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  background-color: #3e3b3b;
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px; }
  .table-filter-models input {
    margin: 0 0 0 20px; }

/*# sourceMappingURL=style.css.map */
