.container-paradigm-wrapper {
  display: flex;
  justify-content: center;
  .container-paradigm {
    max-width: 500px;
    padding: 20px;
  }
  & .no-trs {
    text-transform: none;
    color: white;
    padding: 10px;
  }
}

.paradigm-back-title {
  align-items: center;
  & img {
    height: 50px;
    display: block;
    margin: 15px auto;
  }
}

.paradigm-fixed-labels {
  & h1 {
    text-transform: none;
  }
}

.circle-grid {
  display: table;
  width: 100%;
  & .grid-table {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.layout-button-bar {
  padding: 30px;
  & input {
    padding: 5px;
  }
}

.hidden-layers-node-container {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}
.cyt-container {
  width: 100%;
  height: 400px;
}

.inline-input {
  display: inline !important;
  margin: 5px !important;
}
