*, *:after, *:before {
  box-sizing: border-box; }

html {
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%; }

body {
  position: relative;
  margin: 0;
  font: 100% Noto Sans,sans-serif;
  min-height: 100%;
  background: #2f3031;
  color: #777;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px; }

h1 {
  color: #FFF;
  font-family: Lekton;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9em;
  letter-spacing: .1em;
  text-decoration: none; }

h2 {
  font-family: Lekton;
  font-weight: 600;
  font-size: .9em;
  letter-spacing: .1em;
  text-decoration: none; }

ul {
  list-style-type: none;
  padding: 0; }

.new-single-title {
  line-height: 1.2em;
  text-align: center;
  padding-top: 0px; }

.atb-text {
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 15px; }

.atb-text {
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px; }

a {
  text-decoration: none; }

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed; }

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em; }

table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em; }

table th,
table td {
  padding: .625em;
  text-align: center; }

@media screen and (max-width: 600px) {
  table {
    border: 0; }

  table caption {
    font-size: 1.3em; }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em; }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: center; }

  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase; }

  table td:last-child {
    border-bottom: 0; } }
.button {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #FFFFFF;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  background-color: #3e3b3b;
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px; }
  .button span,
  .button .icon {
    display: block;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0; }
  .button span {
    width: 72%;
    line-height: inherit;
    font-size: 15px;
    text-transform: uppercase;
    left: 0;
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4); }
    .button span:after {
      content: '';
      background-color: #FFFFFF;
      width: 2px;
      height: 70%;
      position: absolute;
      top: 15%;
      right: -1px; }
  .button .icon {
    width: 28%;
    right: 0;
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4); }
    .button .icon img {
      height: 25px; }
    .button .icon .fa {
      font-size: 30px;
      vertical-align: middle;
      transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease; }
    .button .icon .fa-remove {
      height: 36px; }
  .button:hover {
    opacity: .9; }
    .button:hover span {
      left: -72%;
      opacity: 0; }
    .button:hover .icon {
      width: 100%; }
    .button:hover .icon .fa-remove {
      height: 46px; }
  .button:active {
    opacity: 1; }

/*# sourceMappingURL=index.css.map */
